name: Deploy Website

on:
  push:
    branches:
      - main  # Le déploiement se lance dès que tu push sur la branche main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/antoinebillotte
            git pull origin main
            npm install
            npm run build
            pm2 restart villa || pm2 start npm --name "villa" -- start